<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thedeveloperworldisyours.whatdoyoudoandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Optional permission for reliable local dispatching on non-Google Play devices -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/activity_intro_title"
            android:screenOrientation="fullSensor"></activity>
        <activity
            android:name=".activities.QuestionActivity"
            android:label="@string/activity_question_title"
            android:screenOrientation="fullSensor"></activity>
        <activity
            android:name=".activities.FinishActivity"
            android:label="@string/title_activity_finish_acitivity"
            android:screenOrientation="fullSensor"></activity>
    </application>

    <!-- Google Analytics Version v4 needs this value for easy tracking -->
    <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"
        android:resource="@xml/global_tracker" />

</manifest>
